huggingface_hub
ultralytics
timm==0.8.13.dev0
yt_dlp
lapx>=0.5.2
opencv-python
numpy
torch
omegaconf
Flask>=3.0.0
fastapi
uvicorn[standard]
qrcode
Pillow
dropbox
requests
SQLAlchemy>=2.0
psycopg2-binary
